.idea/
*.exe
/editors/vscode/dist/
/editors/vscode/node_modules/
/editors/vscode/package-lock.json
.idea/.gitignore
.idea/.gitignore
.idea/go.imports.xml
.idea/markdown.xml
.idea/modules.xml
.idea/resgen.iml
.idea/vcs.xml
/editors/jetbrains/.gradle/
/editors/jetbrains/build/
/editors/jetbrains/bin/