<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>Resgen</string>
    <key>uuid</key>
    <string>A7F2D1C1-8B3E-4C5A-9D8E-F7C6B5A4D3E2</string>
    <key>description</key>
    <string>Resgen DSL support for JetBrains IDEs via TextMate Bundle</string>
    <key>contactName</key>
    <string>Resgen Team</string>
</dict>
</plist>
